<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h1>Menú de la Aplicación</h1>

    <div class="navbar">
        <a href="{{ url_for('registro.registro') }}">Registrar Trabajador</a>
        <a href="{{ url_for('asistencia.entrada') }}">Registrar Entrada</a>
        <a href="{{ url_for('asistencia.salida') }}">Registrar Salida</a>
    </div>

</body>
</html>
